<div class="container-lg container-fluid">
    <h1 class="text-muted row px-3">Editing Child</h1>

    <%= render 'form', child: @child %>

    <div class="col px-3">
        <%= link_to 'Show', @child %> |
        <%= link_to 'Back', children_path %>
    </div>
</div>
