<div class="container-lg">

    <h1 class="row">New Child</h1>

    <%= render 'form', child: @child %>

    <div class="row">
        <div class="col">
            <%= link_to 'Back', children_path %>
        </div>
    </div>

</div>
